html {
    min-height: 100%;
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    overflow-y: scroll;
    min-height: 100%;
    padding: 20px;
    background: url("./images/bg.png");
}

body * {
    box-sizing: border-box;    
}
